﻿@model BooksAdda.ViewModels.UserEditViewModel
@section Head{
    @Styles.Render("~/Content/GetUserByEmail.css")
}
@if (Model.Email == Session["Name"].ToString() || Session["IsAdmin"] != null)
{
    <h3 class="top-label">Edit Account</h3>
    Model.IsEditable = true;
}
else
{
    <h3 class="top-label">Account Details</h3>
    Model.IsEditable = false;
}
@if (ViewBag.EditMessage != null)
{
    <p class="update_message">@ViewBag.EditMessage</p>
}
<br />
@using (Html.BeginForm("EditUsers", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control" } })
                : (new { htmlAttributes = new { disabled = true, @class = "form-control" } }))
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control", @type = "number" } })
         : (new { htmlAttributes = new { disabled = true, @class = "form-control", @type = "number" } }))
                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Line1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Line1, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control" } })
                : (new { htmlAttributes = new { disabled = true, @class = "form-control" } }))
                @Html.ValidationMessageFor(model => model.Line1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control" } })
                : (new { htmlAttributes = new { disabled = true, @class = "form-control" } }))
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control" } })
                : (new { htmlAttributes = new { disabled = true, @class = "form-control" } }))
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control" } })
                : (new { htmlAttributes = new { disabled = true, @class = "form-control" } }))
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pincode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pincode, @Model.IsEditable ? (object)(new { htmlAttributes = new { @class = "form-control", @type = "number" } })
         : (new { htmlAttributes = new { disabled = true, @class = "form-control", @type = "number" } }))
                @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.IsEditable)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="Action_btn" />
                </div>
            </div>
        }

    </div>
}