﻿body {
    background-image: url("../Icons/addbooks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:0;
}

.update_message {
    border: 1px solid green;
}

   .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: -15px;
}
