﻿.book_img {
    height: 300px;
    width: 200px;
    float: left;
    margin: 10px;
}

.form-horizontal {
    float: left;
    margin: 10px;
}

.related_book_img {
    height: 150px;
    width: 100px;
    float: left;
}

.box {
    padding: 40px;
    float: left;
}

.title-item-removable {
    background-color: #FFF6BE;
    padding: 5px;
    margin: 3px;
}

.title-label {
    background-color: #FFF6BE;
    padding: 0;
    margin: 0;
}

.book-remove-btn {
    padding: 5px;
    color: red;
    font-weight: bolder;
}

    .book-remove-btn:hover {
        color: darkred;
        cursor: pointer;
    }

.tag-remove-btn {
    padding: 5px;
    color: red;
    font-weight: bolder;
}

    .tag-remove-btn:hover {
        color: darkred;
        cursor: pointer;
    }
