﻿.book_info {
    text-align: center;
}

.book_img {
    height: 300px;
    width: 200px;
    float: left;
}

.related_book_img {
    height: 150px;
    width: 100px;
    float: left;
}

.container {
    width: 800px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.dl-horizontal {
    padding-top: 10px;
}

dd {
    font-size: large;
    line-height: 40px;
}

dt {
    font-size: large;
    line-height: 40px;
}

.typedcomment {
    background-color: #E3FFDB;
}

#comments {
    color: blue;
    font-size: 15px;
    font-weight: 500;
}

    #comments:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.containerbox {
    display: inline-block;
    padding: 5px;
}

.comment {
    padding: 5px;
    border-radius: 5px;
    background-color: #EDFFEC;
}

.commentbox {
    display: none;
    opacity: 0.7;
    height: 500px;
    border-radius: 5px;
    width: 20%;
    float: right;
    background: white;
}

#viewpreviouscomments {
    color: blue;
}

    #viewpreviouscomments:hover {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }

.box {
    padding: 40px;
    float: left;
}

.tag {
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}

.tag-container {
    margin-left: 50px;
}

#viewnextcomments {
    color: blue;
}

    #viewnextcomments:hover {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }
