﻿body {
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 0;    
}

ul.slideshow {
    list-style: none;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

    ul.slideshow li {
        position: absolute;
        left: 0;
        right: 0;
    }

        ul.slideshow li.show {
            z-index: 500;
        }

ul img {
    border: none;
}


#slideshow-caption {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: #000;
    z-index: 500;
}

    #slideshow-caption .slideshow-caption-container {
        padding: 5px 10px;
        z-index: 1000;
    }

    #slideshow-caption h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    #slideshow-caption p {
        margin: 5px 0 0 0;
        padding: 0;
    }

#back-button {
    display: none;
}

.slider-image {
    width: 1280px;
    height: 400px;
}
