﻿body {
    background: rgba(220,239,249,1);
    background: -moz-linear-gradient(left, rgba(220,239,249,1) 0%, rgba(178,219,240,0.84) 41%, rgba(136,198,230,0.71) 74%, rgba(117,189,225,0.71) 89%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,239,249,1)), color-stop(41%, rgba(178,219,240,0.84)), color-stop(74%, rgba(136,198,230,0.71)), color-stop(89%, rgba(117,189,225,0.71)));
    background: -webkit-linear-gradient(left, rgba(220,239,249,1) 0%, rgba(178,219,240,0.84) 41%, rgba(136,198,230,0.71) 74%, rgba(117,189,225,0.71) 89%);
    background: -o-linear-gradient(left, rgba(220,239,249,1) 0%, rgba(178,219,240,0.84) 41%, rgba(136,198,230,0.71) 74%, rgba(117,189,225,0.71) 89%);
    background: -ms-linear-gradient(left, rgba(220,239,249,1) 0%, rgba(178,219,240,0.84) 41%, rgba(136,198,230,0.71) 74%, rgba(117,189,225,0.71) 89%);
}

.update_message {
    border: 1px solid green;
}

.form-horizontal {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

.captcha-label {
    position: relative;
    top: 40px;
    left: 40PX;
}

#CaptchaInputText {
    margin-top: 10px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#CaptchaImage{
    width:250px;
}