﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;
@model BooksAdda.ViewModels.FeedbackViewModel
@section Head{
    @Styles.Render("~/Content/Feedback.css")
}
@{
    ViewBag.Title = "Feedback";
}
<h3 class="top-label">Give us your Feedback</h3>
<div class="feedback-form">
    @using (Html.BeginForm())
    {

        if (Session["Name"] != null)
        {
            Model.Email = Session["Name"].ToString();
        }
        @Html.HiddenFor(m => m.Email)
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Comment, 5, 40, null)
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.MathCaptcha()
        <br />
        <p class="Error">@ViewBag.ErrMessage </p>

        <input type="submit" value="submit" class="Action_btn" />
    }
</div>