﻿@section Head{
    @Styles.Render("~/Content/ShowNotificationByEmail.css")
}
@model IEnumerable<BooksAdda.ViewModels.NotificationViewModel>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="notification_box">
            @Html.ActionLink(item.BuyerEmail, "GetUserByEmail", "User", new { email = @item.BuyerEmail }, null)
            <span> was intrested in Your</span>
            @Html.ActionLink("Book", "GetBookById", "Book", new { BookId = @item.BookId }, null)

        </div>
    }
}
else
{
    <h3 class="centre-text">You do not have any notifications</h3>
}