﻿@section Head
    {
    @Styles.Render("~/Content/AddRole")
}
@{
    ViewBag.Title = "AddRole";
}
@model BooksAdda.ViewModels.RoleViewModel
<h3 class="top-label">Add Role</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2  col-md-10">
                <input type="submit" value="Create" class="Action_btn" />
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery")

@if (Model.IsAdded)
{
    <script src="~/Scripts/success-notify.js"></script>
}