﻿@section Head
    {
    @Styles.Render("~/Content/AdminHomepage")
}
@{
    ViewBag.Title = "Adminpage";
}
<body>
    <a href="/User/AddUsers"><div class="Thumbnail_Btn">Add User</div></a>
    <a href="/Admin/EditDeleteUser"><div class="Thumbnail_Btn">Edit/Delete User</div></a>
    <a href="/Admin/AddRole"><div class="Thumbnail_Btn">Add Role</div></a>
    <a href="/Admin/AssignRole"><div class="Thumbnail_Btn">Assign Role</div></a>
    <a href="/Admin/DeleteRole"><div class="Thumbnail_Btn">Delete Role</div></a>
    <a href="/Admin/EditDeleteBook"><div class="Thumbnail_Btn">Edit/Delete Book</div></a>
</body>