﻿@section Head{
@Styles.Render("~/Content/AssignRole")
}
@{
    ViewBag.Title = "AssignRole";
}
@model BooksAdda.ViewModels.AssignRoleViewModel
<h3 class="top-label">Assign Role</h3>
<div class="assign_role_form">
    @using (Html.BeginForm())
    {
        <p>
            @Html.DropDownListFor(model => model.UserEmail,
                new SelectList(Model.Emails),
                "Select User",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
        </p>
        <p>
            @Html.CheckBoxListFor(model => model.PostedRoles.RoleIds,
                                  model => model.AvailableRoles,
                                  role => role.RoleId,
                                  role => role.RoleDescription,
                                  model => model.SelectedRoles
                                  )
        </p>
        <p>@Html.ValidationMessageFor(model => model.PostedRoles, "", new { @class = "text-danger" })</p>
        <p>
            <input id="assignbtn" class="Action_btn" type="submit" value="Assign Role" />
        </p>
    }
</div>
@if (Model.IsAssigned)
{
    <script src="~/Scripts/success-notify.js"></script>
}
