﻿@model BooksAdda.ViewModels.BookViewModel
@section Head{
@Styles.Render("~/Content/EditBookById")
}

<h3 class="top-label">    
    Edit Book
</h3>
<img src="@Url.Content(@Model.ImageUrl)" class="book_img" alt="image" />
<div id="divBook"></div>
@using (Ajax.BeginForm("UpdateBooks", "Book", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.BookId)
        <input type="hidden" id="BookId" value=@Model.BookId />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PrintedPrice, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PrintedPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrintedPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DiscountedPrice, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DiscountedPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-4"></p>
            <div class="col-md-8">
                @foreach (var book in Model.RelatedBooks)
                {
                    <span class="title-item-removable">
                        <span class="title-label" id=@book.BookId>@book.Title</span>
                        <span class="book-remove-btn">X</span>
                    </span>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.relatedBookTitle, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.relatedBookTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.relatedBookTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-4"></p>
            <div class="col-md-8">
                @foreach (var tag in Model.Tags)
                {
                    <span class="title-item-removable"><span class="title-label" id=@tag>@tag</span><span class="tag-remove-btn">X</span></span>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tagName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.tagName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tagName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Update" class="Action_btn" id="editbook-update-btn" />
            </div>
        </div>
    </div>
}
<p class="clear"></p>



@if (Model.RelatedBooks.Any())
{
    <h3 class="top-label">Related Books</h3>
    foreach (var book in Model.RelatedBooks)
    {
        <div class="box">
            <p>
                <a href="@Url.Action("GetBookById", "Book", new { BookId = @book.BookId })">
                    <img class="related_book_img" src="@book.ImageUrl" />
                </a>
            </p>
            <p class="book_info">
                <label>DiscountedPrice:</label>
                @book.DiscountedPrice
            </p>
        </div>
    }
}
@Scripts.Render("~/bundles/editbookbyid")