﻿@section Head{
@Styles.Render("~/Content/DeleteRole")
}

@model BooksAdda.ViewModels.RoleViewModel
<h3 class="top-label">Delete Role</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleDescription,
                    new SelectList(Model.Roles, "RoleDescription"),
                    "Select Role",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2  col-md-10">
                <input id="submit_btn" type="submit" value="Delete" class="Action_btn confirm_button" />
            </div>
        </div>
    </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")

@if (Model.IsDeleted)
{
    <script src="~/Scripts/success-notify.js"></script>
}

<script type="text/javascript">
    $(".confirm_button").click(function (e) {
        if (!confirm("Confirm delete?")) {
            //if user clicks cancel,avoid submitting data
            $("#submit_btn").attr("type", "button");
        }
        else {
            //if user clicks ok, submit data
            $("#submit_btn").attr("type", "submit");
        }
    });
</script>