﻿@model BooksAdda.ViewModels.UserListViewModel
@section Head{
@Styles.Render("~/Content/DeleteUser")
}
<h3 class="top-label">Edit or Delete Users</h3>
<br />
@foreach (var user in Model.Users)
{
    <div>
        <p class="col-md-8 user-container">
            @Html.ActionLink(@user.Email, "GetUserByEmail", "User", new { Email = @user.Email }, null)
        </p>
        <p class="col-md-4 button-container">
            <a href="/User/GetUserByEmail?email=@user.Email">
                <button class="Action_btn_modified">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </button>
            </a>
            <input type="hidden" class="email" value=@user.Email />
            <button class="Action_btn_modified confirm_button">
                <span class="glyphicon glyphicon-trash"></span>
                @Html.ActionLink("Delete", "Delete", "Admin")
            </button>
        </p>
    </div>
}

<input type="hidden" value=@Model.Pager.CurrentPage id="CurrentPage">
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Admin/EditDeleteUser">First</a>
                    </li>
                    <li>
                        <a href="~/Admin/EditDeleteUser?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Admin/EditDeleteUser?page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Admin/EditDeleteUser?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Admin/EditDeleteUser?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

<script type="text/javascript">
    $(".confirm_button").click(function (e) {
        var email = $(this).prev().val();
        var currPage = $("#CurrentPage").val();
        if (!confirm("Confirm delete?")) {
            //if user clicks cancel,avoid submitting data
            $(this).children().attr("href", "#");
        }
        else {
            //if user clicks ok, submit data
            $(this).children().attr("href", "/Admin/Delete?email=" + email + "&&page=" + currPage);
        }
    });
</script>

