﻿@model BooksAdda.ViewModels.BuyBooksViewModel
@section Head{
@Styles.Render("~/Content/EditBooks")
}
<h3 class="top-label">Edit or Delete Books</h3>
<br />
@if (Model.Books.Any())
{
    foreach (var book in Model.Books)
    {
        <div>
            <p class="col-md-8">
                <a href="@Url.Action("GetBookById", "Book", new { BookId = @book.BookId })">
                    <img class="book_img " src="@book.ImageUrl" />
                </a>
                @book.Title
            </p>
            <p class="col-md-4">
                <a href="/Admin/BookEditById?bookId=@book.BookId">
                    <button class="Action_btn_modified">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </button>
                </a>

                <a href="/Admin/DeleteBookById?id=@book.BookId">
                    <input type="hidden" class="book_id" value=@book.BookId>
                    <button class="Action_btn_modified confirm_button">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </a>
            </p>

        </div>
    }
}
<input type="hidden" value=@Model.Pager.CurrentPage id="CurrentPage">

<div class="container">
    <div class="col-md-6 col-md-offset-3">

        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Admin/EditDeleteBook">First</a>
                    </li>
                    <li>
                        <a href="~/Admin/EditDeleteBook?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Admin/EditDeleteBook?page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Admin/EditDeleteBook?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Admin/EditDeleteBook?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<script type="text/javascript">
    $(".confirm_button").click(function (e) {
        var book_id = $(this).prev().val();
        var currPage = $("#CurrentPage").val();
        if (!confirm("Confirm delete?")) {
            //if user clicks cancel,avoid submitting data
            $(this).parent().attr("href", "#");
        }
        else {
            //if user clicks ok, submit data
            $(this).parent().attr("href", "/Admin/DeleteBookById?id=" + book_id + "&&page=" + currPage);
        }
    });
</script>