﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Autocomplete")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/LayoutpageBundle")
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <div class="logoheader">
            <img src="~/Icons/BooksAddaLogo.png" class="logo" />
            <span class="title">BooksAdda - An Ultimate place for books</span>
        </div>
        <div class="clear"></div>
        @using (Html.BeginForm("SearchBooks", "Book", FormMethod.Post))
        {   <div class="searchbox-container">
            <input type="text" name="searchText" class="searchtext" id="searchbox" placeholder="Search Books" />
            <button type="submit" id="searchbtn" class="Action_btn"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        }
        @if (Session["Name"] != null)
        {
            <button class="Action_btn nav-btn" id="back-button">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <div id="logged_in_topmenu">
                <div>Hello <a>@Session["Name"]</a></div>
                <div>
                    <a href="/Notify/ShowNotificationByEmail?Email=@Session["Name"]">
                        <button type="button" class="Action_btn"><span class="glyphicon glyphicon-envelope"></span>Notifications</button>
                    </a>
                    <a href="/Account/Logout">
                        <button type="button" class="Action_btn"><span class="glyphicon glyphicon-off"></span>Logout</button>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        }
        else
        {
            <div id="logged_out_topmenu">
                <a href="/Account/Login"><button class="Action_btn"><span class="glyphicon glyphicon-lock"></span>Login</button></a>
                <a href="/Account/Register"><button class="Action_btn"><span class="glyphicon glyphicon-user"></span>Register</button>
            </div><br />
            <div id="logged_out_topmenu2">
                @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
            </div>
            <div class="clear"></div>
        }
    </header>
    <div id="success_message_container">
        <div id="success_message">
            <span class="glyphicon glyphicon-ok"></span>
            Done
        </div>
    </div>

    <ul class="sidenav">
        <a href="/Account/Homepage">
            <li class="sidenav-item">
                <p><span class="glyphicon glyphicon-home"></span></p>
                <p class="sidenav-link">Home</p>
            </li>
        </a>
        <a href="/Book/BuyBooks">
            <li class="sidenav-item">
                <p><span class="glyphicon glyphicon-shopping-cart"></span></p>
                <p class="sidenav-link">Buy</p>
            </li>
        </a>
        <a href="/Book/AddBooks">
            <li class="sidenav-item">
                <p><span class="glyphicon glyphicon-briefcase"></span></p>
                <p class="sidenav-link">Sell</p>
            </li>
        </a>
        <a href="/Book/ListBooks">
            <li class="sidenav-item">
                <p><span class="glyphicon glyphicon-book"></span></p>
                <p class="sidenav-link">LookUp</p>
            </li>
        </a>
        @if (Session["Name"] != null)
        {
            <a href="/User/GetUserByEmail?email=@Session["Name"]">
                <li class="sidenav-item"><p><span class="glyphicon glyphicon-user"></span></p><p class="sidenav-link">My Account</p></li>
            </a>
        }
        @if (Session["IsAdmin"] != null)
        {
            <a href="/Admin/AdminHomepage">
                <li class="sidenav-item">
                    <p><span class="glyphicon glyphicon-lock"></span></p>
                    <p class="sidenav-link">Admin Section</p>
                </li>
            </a>
        }
    </ul>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(function () {
        $("#Category").autocomplete({
            source: "/book/GetBookCategoryJson"
        });
    });
</script>