﻿@model BooksAdda.ViewModels.BookViewModel
@section Head{
    @Styles.Render("~/Content/AddBooks")    
}
@{
    ViewBag.Title = "Add Books";
}
<h2 class="top-label">Add your Book</h2>
@if (ViewBag.FileMessage != null)
{
    <div class="update_message">
        @ViewBag.FileMessage
    </div>
}
<br />
<body>
    <div class="form-horizontal">
        @using (Html.BeginForm("AddBooks",
                                    "Book",
                                    FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrintedPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrintedPrice, new { htmlAttributes = new { @class = "form-control", maxlength = "5" } })
                    @Html.ValidationMessageFor(model => model.PrintedPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiscountedPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiscountedPrice, new { htmlAttributes = new { @class = "form-control", maxlength = "5"} })
                    @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="file" class="control-label col-md-2">Upload Image:</label>
                <div class="col-md-10">
                    <input type="file" name="file" id="file" class="form-control" data-val="true" data-val-required="File is required" />
                    <span class="text-danger field-validation-error" data-valmsg-for="file" data-valmsg-replace="true"></span>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="Action_btn" />
                </div>
            </div>
        }
    </div>     
</body>
@Scripts.Render("~/bundles/jquery")
@if (ViewBag.IsAdded)
{
    <script src="~/Scripts/successMessage.js"></script>
}
