﻿@model BooksAdda.ViewModels.BuyBooksViewModel
@section Head{
    @Styles.Render("~/Content/BuyBooks")
}
@{
    ViewBag.Title = "Buy Books";
}
<h2 class="top-label">Buy Books</h2>
@using (Html.BeginForm())
{
    <div class="filter_top row">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.SelectedCategoryId,
    new SelectList(Model.Categories, "Id", "Category"),
    "Select Category",
    new { @class = "form-control" })
            <strong> Price :</strong>
            @Html.DropDownListFor(model => model.PriceMin,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "0" },
                       new SelectListItem { Value = "100" , Text = "100" },
                       new SelectListItem { Value = "500" , Text = "500" },
                       new SelectListItem { Value = "1000" , Text = "1000" }
                    },
                  new { @class = "myselect" })
            <strong>&nbsp; - &nbsp;</strong>

            @Html.DropDownListFor(model => model.PriceMax,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "100" , Text = "100" },
                       new SelectListItem { Value = "500" , Text = "500" },
                       new SelectListItem { Value = "1000" , Text = "1000" }
                    },
                  new { @class = "myselect" })
            <br />
            <input type="submit" value="Filter Books" class="Action_btn" />
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.SortBy)
            @Html.DropDownListFor(model => model.SortBy,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Title" , Text = "Title" },
                       new SelectListItem { Value = "Details" , Text = "Details" },
                       new SelectListItem { Value = "DiscountedPrice" , Text = "DiscountedPrice" }
                    },
      new { @class = "form-control", @onchange = "getSortedBooks()" })
        </div>
    </div>
}
<div id="bookcontainer">
    @if (Model.Books.Any())
    {
        foreach (var book in Model.Books)
        {
            <div class="box">
                <p>
                    <a href="@Url.Action("GetBookById", "Book", new { BookId = @book.BookId })">
                        <img class="book_img" src="@book.ImageUrl" />
                    </a>
                </p>
                <p class="book_info">
                    <label>DiscountedPrice:</label>
                    @book.DiscountedPrice
                </p>
            </div>
        }
    }
    else
    {
        <h3 class="centre-text">No Books</h3>
    }
</div>
<div class="clear"></div>

<div class="container">
    <div class="col-md-6 col-md-offset-3">

        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Book/BuyBooks">First</a>
                    </li>
                    <li>
                        <a href="~/Book/BuyBooks?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Book/BuyBooks?page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Book/BuyBooks?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Book/BuyBooks?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<script src="~/Scripts/book-sort.js"></script>