﻿@model BooksAdda.ViewModels.BookViewModel
@section Head{
@Styles.Render("~/Content/GetBookById")   
}
@if (Model.Tags.Any())
{
    <div class="tag-container">
        <h3><span class="glyphicon glyphicon-tags"></span><label>Tagged In</label></h3>
        @foreach (var tag in Model.Tags)
        {
            <span class="tag">@tag</span>
        }
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(@Model.ImageUrl)" class="book_img" alt="image" />
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Details)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrintedPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrintedPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiscountedPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiscountedPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dd>
                    <p class="link_blue">
                        @Html.ActionLink("Seller", "GetUserByEmail", "User", new { email = @Model.SellerEmail }, null)
                    </p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="clear"></div>
    @if (Session["Name"] != null)
    {
        var interested = false;
        if (Model.BuyersEmail != null)
        {
            foreach (var item in @Model.BuyersEmail)
            {
                if (item == Session["Name"].ToString())
                {
                    interested = true;
                }
            }
        }

        if (interested == false)
        {
            <button class="Action_btn">
                @Html.ActionLink("Show Interest", "CreateNotification", "Notify", new
                      {
                          SellerEmail = @Model.SellerEmail,
                          BookId = @Model.BookId,
                          BuyerEmail = @Session["Name"]
                      }, null)
            </button>

        }

        else
        {
            <button class="Action_btn">
                @Html.ActionLink("Cancel Interest", "DeleteNotification", "Notify", new
                           {
                               BookId = @Model.BookId,
                               BuyerEmail = @Session["Name"]
                           }, null)
            </button>
        }
    }
    <br />
    <input type="hidden" id="session_name" value=@Session["Name"]>
    <input type="hidden" id="bookid" value=@Model.BookId />
    <textarea rows="2" cols="30" class="typedcomment"></textarea>
    <button id="commentpost" value="Comment" class="Action_btn">Comment</button>
    <div id="viewpreviouscomments">
        View previous Comments
    </div>
    <div class="displaycomment">
    </div>
    <div id="viewnextcomments">
        View next Comments
    </div>

</div>

@if (Model.RelatedBooks.Any())
{
    <hr />
    <h3 class="top-label"><label>Similar Books</label></h3>
    foreach (var book in Model.RelatedBooks)
    {
        <div class="box">
            <p>
                <a href="@Url.Action("GetBookById", "Book", new { BookId = @book.BookId })">
                    <img class="related_book_img" src="@book.ImageUrl" />
                </a>
            </p>
            <p class="book_info">
                <label>DiscountedPrice:</label>
                @book.DiscountedPrice
            </p>
        </div>
    }
}
@Scripts.Render("~/bundles/getbookbyid")