﻿@section Head{
    @Styles.Render("~/Content/ListBooks.css")
}
@model BooksAdda.ViewModels.BuyBooksViewModel
<h2 class="top-label">Available Books</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Details
        </th>
        <th>
            PrintedPrice
        </th>
        <th>
            DiscountedPrice
        </th>
        <th>
            Category
        </th>
        <th>
            Seller Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrintedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerEmail)
            </td>

        </tr>
    }

</table>
<div class="container">
    <div class="col-md-6 col-md-offset-3">

        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Book/ListBooks">First</a>
                    </li>
                    <li>
                        <a href="~/Book/ListBooks?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Book/ListBooks?page=@page">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Book/ListBooks?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Book/ListBooks?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>