﻿@model BooksAdda.ViewModels.UserViewModel
@{
    ViewBag.Title = "Recover Password";
}
<h3 class="top-label">Recover your Password</h3>
<br />
<h4 class="centre-text">A link has been sent to your Email:<span> @Model.Email</span>. Please Use the link to change your password.</h4>